<ion-header mod="md">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-toolbar>
    </ion-toolbar>
</ion-header>

<ion-content mod="ios">
    <div class="glass-content ion-padding">
        <div class="ion-text-center ion-padding-top" *ngIf="character">
            <ion-avatar>
                <img [scr]="character.image" />
                <h1>{{character.name}}</h1> //nombre
                <div>Estatus: {{character.status == 'Alive' ? 'Vivo' : 'Muerto'}}</div> //Estatus

                <ion-item lines="none">
                    <ion-icon slot="start" name="location-outline">
                    </ion-icon>
                    <ion-label>Visto por primera vez: <br><strong>{{character.origin.name}}</strong></ion-label>
                </ion-item>

                <ion-item lines="none">
                    <ion-icon slot="start" name="location-outline">
                    </ion-icon>
                    <ion-label>Visto por ultima vez: <br><strong>{{character.location.name}}</strong></ion-label>
                </ion-item>

                <ion-item lines="none" class="ion-margin-top">
                    <ion-icon slot="start" name="videocam-outline">
                    </ion-icon>
                    <ion-label>Episodios donde aparece</ion-label>
                    <ion-icon slot="end" name="chevron-down">
                    </ion-icon>
                </ion-item>

            </ion-avatar>
        </div>
    </div>
</ion-content>